.sidebar {
   display: flex;
   box-shadow: 0px 2px  grey;
   


}
.navDiv{
    border-bottom: 5px solid rgb(94, 94, 94) ;
    background-color: rgb(70, 70, 70);
    margin: 0px 30px 0px;
}

.logForm{
    width: 50%;
    background-color: rgb(5, 25, 41);
    text-align: center;
   color: rgb(255, 255, 255);
    margin:  10% auto;;
    padding: 5%;
    border-radius: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border: 2px solid rgb(114, 114, 114);  
   align-items: center;
   
}

.logForm input:not(.btn1){
    margin-top: 8px;
    padding: 1.5%;
    width: 40%;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 6px;
    text-align: center;

}
.btn1{ margin-top: 12px;
    padding: 1.2%;
    width: 10%;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 6px;
    background-color: rgb(59, 87, 119);

}
.logB{
background-color: rgb(1, 13, 27);

}


  

